{{ partial "header" }}

<div class="main-slider" id="js-main-slider">
    <div class="main-slider__item" style="background-image: url('{{ .Params.image | absURL }}')">
        <div class="main-slider__content-wrap">
            <div class="main-slider__content">
                <h3 class="main-slider__title">{{ .Params.introTitle }}</h3>
                <p class="main-slider__text">{{ .Params.introSubTitle }}</p><a
                    class="link" href="#">
                <span>{{ .Params.introLinkText }}</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <section class="intro">
        <div class="intro__text" style="background-image: url('assets/i/intro-bg.jpg')">
            <h2 class="title">{{ .Site.Title }}</h2>
            <p>{{ .Params.nostreBireText }}</p>
            <a class="link" href="#">
                <span> {{ .Params.nostreBireLink }}</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
        </div>
        <div class="intro__img">
            <img src="assets/i/intro.jpg" alt="">
        </div>
    </section>
    <div class="categories-block">
        <div class="categories-block__item" style="background-image: url('assets/i/categories-block/1.jpg')">
            <div class="categories-block__footer">
                <h4 class="title">Bibite</h4><a class="link" href="#">
                <span> Vai al catalogo</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
            </div>
        </div>
        <div class="categories-block__item" style="background-image: url('assets/i/categories-block/2.jpg')">
            <div class="categories-block__footer">
                <h4 class="title">Acque</h4><a class="link" href="#">
                <span> Vai al catalogo</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
            </div>
        </div>
        <div class="categories-block__item" style="background-image: url('assets/i/categories-block/3.jpg')">
            <div class="categories-block__footer">
                <h4 class="title">Vini</h4><a class="link" href="#">
                <span> Vai al catalogo</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
            </div>
        </div>
        <div class="categories-block__item" style="background-image: url('assets/i/categories-block/4.jpg')">
            <div class="categories-block__footer">
                <h4 class="title">Grappe, distillati e liquori</h4><a class="link" href="#">
                <span> Vai al catalogo</span>
                <i class="fas fa-chevron-circle-right"></i>
            </a>
            </div>
        </div>
    </div>
    <h3 class="title title--color services-block__title">I nostri servizi</h3>
    <section class="services-block">
        <div class="services-block__wrap">
            <div class="services-block__item" style="background-image: url('assets/i/services-block/1.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">Servizio specializzato</h2>
                    <div class="services-block__text">I nostri sommelier sono in grado di suggerirti le migliori birre speciali per la tua attività, valorizzando le tue caratteristiche e peculiarità.</div>
                </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/2.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">Allestimento locali</h2>
                    <div class="services-block__text">I nostri sommelier sono in grado di suggerirti le migliori birre speciali per la tua attività, valorizzando le tue caratteristiche e peculiarità.</div>
                </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/3.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">Fiere ed eventi</h2>
                    <div class="services-block__text">Forniamo postazioni mobili per manifestazioni, sagre, ed eventi con impianti di spillatura, tavoli, ombrelloni, chioschi ed eventuale rimorchio / truck allestito.</div>
                </footer>
            </div>
            <div class="services-block__item" style="background-image: url('assets/i/services-block/4.jpg')">
                <footer class="services-block__footer">
                    <h2 class="title">E molto altro ancora</h2>
                    <div class="services-block__text">
                        <ul class="services-block__list">
                            <li>Altissima qualità</li>
                            <li>Consulenze e supporto</li>
                            <li>Partner selezionati</li>
                            <li>Servizio personalizzato</li>
                            <li>Agenti e sommelier qualificati</li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </section>

    {{ partial "footer" }}
